SORU 1) Bir tamsayının negatif mi, pozitif mi yoksa sıfır mı olduğunu konsola yazdıran 
programı yazınız. 

int sayi = 5;

if (sayi > 0 ){
    System.out.println("Sayı pozitiftir);
} else if(sayi < 0) {
    System.out.println("Sayı negatiftir);
} else {
     System.out.println("Sayı sıfırdır");
}

SORU 2) Sıcaklık değerine göre suyun halini (katı, sıvı veya gaz) konsola yazdıran programı 
yazınız.

double sicaklik = 30.0;

if(sicaklik <= 0); {
   System.out.println("Su katı haldedir (buz) ");
}  else if(sicaklik < 100)
   System.out.println("Su sıvı haldedir");
} else {
System.out.println("Su gaz (buhar) halindedir");
}

SORU 3) Bir aracın ilk hız ve son hız değerine göre, konsola “Yavaşlıyor”, “Hızlanıyor” 
veya “Sabit Hızda” yazdıran JAVA programını yazınız.

double ilkHiz = 25;

double sonHiz = 75;

if ( sonHiz > ilkHiz) {
    System.out.println("Araç hızlanıyor");
} else if ( sonHiz < ilkHiz){
     System.out.println("Araç yavaşlıyor");
} else {
     System.out.println("Araç sabit hızla gidiyor");

SORU 4) Tanımlanan üç açı değeriyle bir üçgen oluşup oluşamayacağını konsola yazdıran 
JAVA programını yazınız.

int aci1 = 60, aci2 = 90, aci3 = 30;

int toplam 0 aci1 + aci2 +aci3;

if(toplam == 180 && aci1 > 0 && aci2 > 0 && aci3 > 0){
    System.out.println("Bu açılarla üçgen oluşturabilir");
} else { 
     System.out.println("Bu açılarla üçgen oluşturalamaz");

SORU 5) Üç tamsayı arasındaki en büyük değeri bulan ve konsola yazdıran JAVA 
programını yazınız.  
Örneğin; 5, 12, -3 değerleri için çıktı olarak 12 vermeli.

int sayi1 = 12, sayi2 = 5, sayi3 = -3;

if(sayi1 >= sayi2 && sayi1 >= sayi3){
   System.out.println("En büyük = " + sayi1);
} else if (sayi2 >= sayi1 && sayi2 >=  sayi3 ) {
  System.out.println("En büyük = " + sayi2);
} else if ( sayi3 >= sayi1 && sayi3 >=  sayi2){
  System.out.println("En büyük =" + sayi3);
} else { 
    System.out.println("En büyük sayi = " + enBüyük);

SORU 6) Üç tamsayı arasındaki en küçük değeri bulan ve konsola yazdıran JAVA 
programını yazınız.  

int sayi1 = 12, sayi2= 5, sayi3 = -3;

if(sayi1 <= sayi2 && sayi1 <= sayi3){
   System.out.println("En küçük sayi =" + sayi1 );
}  else if ( sayi2 <= sayi1 && sayi2 <= sayi3) {
    System.out.println("En küçük sayi = " + sayi2);
} else if ( sayi3 <= sayi1 && sayi3 <= sayi2){
    System.out.println("En küçük sayi = " sayi3){
} else {
    System.out.println("En küçük sayi);

=7) Bir öğrencinin vize, ödev ve final notunu kullanarak dönem sonu notunu 
hesaplayan, eğer dönem sonu notu 70 ve üzerindeyse konsola GEÇTİ, değilse KALDI 
yazdıran programı yazınız. 
Dönem sonu notu = 0.3*Vize + 0.2*Ödev + 0.5*Final
double vize = 70;

double final =80;

double ödev = 90;

double toplam =  0.3*vize + 0.2*ödev + 0.5*final;

if ( toplam >= 70){
  System.out.println("Durum : Geçti");
} else { 
   System.out.println("Durum : Kaldı ");

SORU 8) Tanımlanan genel ağırlıklı not ortalaması (GANO) değeri için aşağıdaki aralıklara 
göre uygun harf notunu konsola yazdıran programı yazınız. 
 3.5 ≤ GANO ≤ 4.0 → A 
 3.0 ≤ GANO < 3.5 → B 
 2.5 ≤ GANO < 3.0 → C 
 2.0 ≤ GANO < 2.5 → D 
 1.5 ≤ GANO < 2.0 → E 
 0.0 ≤ GANO < 1.5 → F

double gano =3.0;

if (gano >= 3.5 && gano <= 4.0) {
   System.out.println("Harf Notu: A");
} else if (gano >= 3.0 && gano < 3.5) {
   System.out.println("Harf Notu: B");
} else if (gano >= 2.5 && gano < 3.0) {
   System.out.println("Harf Notu: C");
} else if (gano >= 2.0 && gano < 2.5) {
   System.out.println("Harf Notu: D");
} else if (gano >= 1.5 && gano < 2.0) {
   System.out.println("Harf Notu: E");
} else if (gano >= 0.0 && gano < 1.5) {
    System.out.println("Harf Notu: F");
 } else {
System.out.println("Geçersiz GANO değeri girdiniz!);
}

SORU 9) A, B, C, D ve E harf notlarından birinin verildiği bir sistemde, öğrencinin harf 
notuna göre konsola, 
 A için “Çok iyi” 
 B için “İyi” 
 C için “Orta” 
 D için “Kötü” 
 E için “Çok kötü” 
yazdıran programı yazınız.

char not = 'B';
 if (not == 'A') {
System.out.println("Çok iyi");
} else if (not == 'B') {
 System.out.println("İyi");
} else if (not == 'C') {
 System.out.println("Orta");
} else if (not == 'D') {
 System.out.println("Kötü");
} else if (not == 'E') {
System.out.println("Çok kötü");
} else {
System.out.println("Geçersiz harf notu girdiniz!");
}

SORU 10) Bir ürünün eski fiyatı ve yeni fiyatına göre, konsola “Bu ürüne %X zam 
gelmiştir” veya “Bu ürüne %X indirim yapılmıştır” ya da “Bu ürünün fiyatı değişmemiştir” 
yazdıran JAVA programını yazınız.

double eskiFiyat = 40;

double yeniFiyat = 80;

double zamOrani = ((yeniFiyat - eskiFiyat) / eskiFiyat) * 100;

 double indirimOrani = ((eskiFiyat - yeniFiyat) / eskiFiyat) * 100;

 if (yeniFiyat > eskiFiyat) {
 System.out.printf("Bu ürüne  zam gelmiştir.", zamOrani);
 } else if (yeniFiyat < eskiFiyat) {
 System.out.printf("Bu ürüne  indirim yapılmıştır.", indirimOrani);
 } else {
System.out.println("Bu ürünün fiyatı değişmemiştir.");

SORU 11) Switch-case yapısını kullanarak; 0’dan 9’a kadar tanımlanan bir rakamı yazıyla 
konsola yazdıran, eğer bu aralık dışındaysa konsola "Bu bir rakam değildir" şeklinde uyarı 
mesajı yazan programı yazınız. 
Örneğin; 
6 için ALTI mesajı konsola yazdırılmalıdır. 
 int = 5;

 switch (rakam) {
 case 0:System.out.println("SIFIR");break;
 case 1:System.out.println("BİR");break;
 case 2:System.out.println("İKİ");break;          
 case 3:System.out.println("ÜÇ");break;            
 case 4:System.out.println("DÖRT");break;           
 case 5:System.out.println("BEŞ");break;
 case 6:System.out.println("ALTI");break;
 case 7:System.out.println("YEDİ");break;
 case 8:System.out.println("SEKİZ");break;
 case 9:System.out.println("DOKUZ");break;
 default:System.out.println("Bu bir rakam değildir!");
   }

SORU 12) İki basamaklı iki tamsayının, birler basamağındaki rakamların büyüğünü konsola 
yazdıran JAVA programını yazınız.

int sayi1 = 63, sayi2 = 65;

int birler1 = sayi1 % 10;

int birler2 = sayi2 % 10;

if (birler1 > birler2) {
System.out.println("Birinci sayının birler basamağı daha büyük: " + birler1);
} else if (birler2 > birler1) {
System.out.println("İkinci sayının birler basamağı daha büyük: " + birler2);
} else {
System.out.println("Her iki sayının birler basamağı eşit: " + birler1);
}

SORU 13) Zam dönemindeki bir firmada 0-5 yıl arası çalışanlara %20, 6-10 yıl arası 
çalışanlara %25, 11 ve üzeri yıl çalışanlara ise %30 zam yapılacaktır. Buna göre bir çalışanın 
mevcut maaşı ve çalışma yılına göre alacağı yeni maaşı hesaplayan ve konsola yazdıran 
programı yazınız.

double maas =10.000;

int yil = 7;

if(yil <= 5) 

double yeniMaas =maas*1.20;

System.out.println("0 ve 5 yıl arasında çalışanlara %20 zam yap");

if(yil<=10)

double yeniMaas = maas*1.30;

System.out.println("0 ve 10 yıl arasında çalışanlara %25 zam yap");

else 

double yeniMaas = maas*1.30;

System.out.println("yeni maas:" + yeniMaas);

SORU 14) Bir şirket sadece aşağıdaki durumlarda çalışanlarını sigortalamaktadır. 
 Çalışan evli ise 
 Çalışan evli değilse, erkek ve 30 yaşın üzerindeyse 
 Çalışan evli değilse, kadın ve 25 yaşın üzerindeyse 
Buna göre, bir çalışanın medeni hali, cinsiyeti ve yaşına göre sigortalı olup olmayacağını 
kontrol eden programı yazınız. 

boolean evli = false;

String cinsiyet ="erkek";

int yas = 35;

boolean sigorta =false;

if(evli)

System.out.println(sigorta = true);

else if(evli && cinsiyet ("erkek") && yas > 30)

System.out.println(sigorta = true);

else if (evli && cinsiyet ("kadin) && yas >25)

System.out.println(sigorta = true);

else 

System.out.println("Sigortali mi ." + sigorta);

SORU 15)Okulun kütüphanesinden alınan bir kitap zamanında teslim edilmezse gecikme 
gün sayısına göre öğrenciye ceza kesilmektedir. Gecikme süresi 1 haftaya kadar olursa 
günlük 10 TL, 3 haftaya kadar olursa 100 TL ile birlikte günlük 15 TL, 3 haftadan daha uzun 
olursa da 300 TL ile birlikte günlük 20 TL öğrenciye ceza kesilmektedir. Kütüphaneden 
aldığı kitabı zamanında teslim etmeyen bir öğrencinin, gecikme süresine göre ödemesi 
gereken toplam ceza tutarını hesaplayan programı yazınız.

int gun = 20;

if(gun <=7)

int ceza =gun*10;

System.out.println("Ceza");

else if (gun<=21)

int ceza 100+ gun*15;

System.out.println("Ceza");

else

int ceza = 300 + gun *20;

System.out.println("Toplam ceza :" + ceza + "TL");

SORU 16) Tanımlanan üç kenar uzunluğu ile bir üçgen oluşup oluşamayacağını kontrol 
ederek sonucu konsola yazdıran programı yazınız. (Üçgen oluşabilmesi için herhangi iki 
kenarın toplamı diğer kenardan büyük olmalıdır.)   
Örneğin; 4, 12, 5 kenar uzunluklarıyla bir üçgen oluşamaz çünkü (4+5) ≥ 12 şartı sağlanmadı. 
6, 3, 4 kenar uzunluklarıyla bir üçgen oluşur. (6+3) ≥ 4, (6+4) ≥ 3, (3+4) ≥ 6 şartları sağlandı.

int kenar1 = 6,kenar2 = 3,kenar3 =4;

if(kenar1 + kenar2 > kenar3 && keanr1 + kenar 3>kenar2 && kenar2 + kenar3 >kenar1)

System.out.println("Ucgen olusur");

else

System.out.println("Ucgen oluşmaz");

SORU 17) Tanımlanan üç tamsayı değerini kendi aralarında karşılaştırarak küçükten büyüğe 
olacak şekilde konsola yazdıran programı yazınız. 
Örneğin; 5, 8, 3 sayıları için konsola 3, 5, 8 yazdırılmalıdır.

int a1 = 5, a2 = 8, a3 = 3;

if( a3<a1<a2 )
System.out.println("enKucuk sayıyı yaz");
else (a2>a1>a3)
System.out.println("enBuyuk sayıyı yaz");

SORU 18) Tanımlanan üç tamsayı değerinin artan sırada mı, azalan sırada mı yoksa sırasız 
mı olduğunu kontrol eden programı yazınız. 
Örneğin; 7, 4, 2 için konsola AZALAN -3, 0, 5 için konsola ARTAN 
4, 7, 2 için konsola SIRASIZ yazdırılmalı.  

int n1 =7,n2 = 4, n3 = 2;

if(n1>n2 && n2>n3)

System.out.println("AZALAN");

else if (n1<n2 &&  n2<n3)

System.out.println("ARTAN");

else

System.out.println("SIRASIZ");

SORU 19) Market rafındaki iki farklı firmaya ait bitter çikolatanın gramaj ve fiyat bilgilerine 
göre fiyat-performans olarak hangi ürünü almanın daha avantajlı olduğunu konsola yazdıran 
programı yazınız. 
Örneğin, birinci ürün 40 gram ve 80 TL, ikinci ürün 60 gram ve 90 TL ise konsola “İkinci 
ürün daha avantajlı” yazmalı. 

 double gram1 = 40, fiyat1 = 80, gram2 = 60, fiyat2 = 90;

 double oran1 = fiyat1 / gram1;

 double oran2 = fiyat2 / gram2;

if (oran1 < oran2)

    System.out.println("Birinci urun daha avantajli");

 else if (oran2 < oran1)

    System.out.println("Ikinci urun daha avantajli");

 else

    System.out.println("Esit avantajli")

SORU 20) Tamsayı olarak tanımlanan iki değer ve karakter tipinde tanımlanan operatöre (+, 
, 
*, / veya %) göre, bu iki sayı üzerinde işlem yapan ve sonucu ekrana yazdıran programı 
yazınız. 

 int s = 8, t = 3;
 char op = '/';
 switch (op) {
    case '+': System.out.println(s + t); break;
    case '-': System.out.println(s - t); break;
    case '*': System.out.println(s * t); break;
    case '/': System.out.println((double)s / t); break;
    case '%': System.out.println(s % t); break;
    default: System.out.println("Gecersiz operator");








